
.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;

    transition: color .3s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        color: darken($color: white, $amount: 10);
    }
    
}

.fab {
    background-color:$primary;
    bottom: 25px;
    position: fixed;
    right: 25px;
}

.btn-circle { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 30px;
    text-align: center; 
} 


.btn-primary {
    background-color: $primary;
    border-radius: 2px;
    
    &:disabled {
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover { 
        background-color: darken($color: $primary, $amount: 15);
    }
}

.btn-block {
    width: 100%;
}

